body {
	position: relative;
	margin: 0;
	font-family: inter,sans-serif;
	line-height: 1.3em;
	letter-spacing: .05em;
	font-size: 17px;
}

body::-webkit-scrollbar {
	height: 0.45em;
}

body::-webkit-scrollbar-track {
	background-color: #181818;
}

body::-webkit-scrollbar-thumb {
	background-color: #252525;
}